* {
    color: #c1b492;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    background-size: 5% 10%;
    margin: 0;
    padding: 20px;
}




.container {
    max-width: 80vw ;
    margin: auto;
    background: black;
    border-radius: 10px;
    margin-top: 10vh;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    background-color: black;
}

button {
    background: black;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #d2738a;
}

#messageList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.message-item {
    background: black;
    border-left: 4px solid black;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    color: #fff;

    position: relative;
}

.message-item span {
    display: block;
    font-size: 0.9rem;
}

.message-item .delete {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #786e6e;
    cursor: pointer;
}

.message-item .delete:hover {
    color: #e74c3c;
}


input {
  border: none !important;         /* 去掉边框 */
  outline: none !important;        /* 去掉点击高亮边框 */
  background-color: black;   /* 背景透明 */

  color: #fff;                     /* 字体颜色可改 */
}




#floatingImg {
  position: fixed;
  height: 200px;
  top: 100px;
  left: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#noise {
    height: 25vh;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}