* {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 25px;
}

body {
	min-width: 1000px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}

a {
	cursor: pointer;
	text-decoration: none;
}

li {
	list-style: none;
}

/* 浮动工具类 */
.lt {
	float: left;
}

.rt {
	float: right;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}